body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

#root {
  min-height: 100vh;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}